<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h5>this is {{account.name}}</h5>
        <hr>
        <!-- <p this acoount is {{account}}></p>  -->

        <button (click)="onSetTo('active')" class="btn btn-default"> ser to active</button>
        <button (click)="onSetTo('inactive')" class="btn btn-default"> ser to inactive</button>
        <button (click)="onSetTo('unknown')" class="btn btn-default"> ser to unknowm</button>
    </div>
</div>

<!-- {{account | json}} -->